@font-face {
  font-family: 'reddit';
  src: url('./components/Fonts/');
}

h1, h3{
  font-family: 'sporty';
  font-size: 50px;
}

p{
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

*{
  text-decoration: none;
  color: inherit;
}

.navBar {
  font-family: 'reddit';
  font-weight: bold;
display: flex;
justify-content: space-around;
align-items: center;
background-color: whitesmoke;
color: teal;
font-size: 30px;
height: 10vh;
width: 100vw;
}

.postPage{
display: flex;
flex-direction: column;
background: url("") red;
height: 100vh;
width: 100vw;
align-items: center;
background-repeat: no-repeat;
background-size: 100% 100%;
font-family: 'Courier New', Courier, monospace;
font-weight: bold;
color: teal;
}
.postImg{
background: url("") black;
background-size: 100% 100%;
margin-top: -40px;
height: 50vh;
width: 60vw;
}
.postList{
color: red;
font-size: 20px;
background: black;
border: solid whitesmoke 5px;
text-align: center;
border-radius: 12px;
opacity: .7;
width: 60vw;
}
.commentPage{
display: flex;
flex-direction: column;
background: url("Images/track2Wallpaper.jpg");
height: 100vh;
width: 100vw;
align-items: center;
background-repeat: no-repeat;
background-size: 100% 100%;
font-family: 'Courier New', Courier, monospace;
font-weight: bold;
color: teal;
}
.commentImg{
  background: url("Images/bbcourt2Wallpaper.jpeg");
background-size: 100% 100%;
margin-top: -40px;
height: 50vh;
width: 60vw;
}
.commentList{
  color: red;
  font-size: 20px;
  background: black;
  border: solid whitesmoke 5px;
  text-align: center;
  border-radius: 12px;
  opacity: .7;
  width: 60vw;
}
.singleCpost{
  background: url("") gray;
  background-size: 100% 100%;
  height: 100vh;
  width: 100vw;
  align-items: center;
  background-repeat: no-repeat;
  color: whitesmoke;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
